extends layout 

block content 

    h2(class="section-title")= title 
    hr(style="width:100px")
    if games.length 
        p(style="text-align:center; color:lightblue") #[strong Delete These Games Before Attempting To Delete This Category]
        div(class="category-games")
            each game in games 
                a(href=`${game.url}` class="category-game-card")
                    h3= game.name
                    p= game.developer


    else 

        form(method="POST")
            div.form-group
                p Do You Really Want To Delete This Category?
                input#admin.form-control(type='text', name="admin" placeholder='Enter Admin Password (Password: admin001)' style="width:300px")
                input#categoryid.form-control(type='hidden', name='categoryid', value=category._id )

            button.submit-btn(type='submit') Delete

        if permDenied
            p(style="text-align:center; color:red")= 'Permssion Denied. Only An Admin Can Modify This Category!'