extends layout

block content
  h2.page-title= title
  hr(style="width: 100px")
  if games.length
    p(style="text-align:center; color:red") #[strong Delete These Games Before Attempting To Delete This Category]
    .category-info-game-list
      each game in games 
        a.category-info-game-card(href=`${game.url}`)
          h3= game.name
          p= game.developer

  else
    form(method="POST")
      .form-group
        p Do You Really Want To Delete This Category?
        input#admin.form-control(
          type="text",
          name="admin",
          placeholder="Enter Admin Password (Password: admin001)",
          style="width: 300px"
        )
        input#categoryid.form-control(
          type="hidden",
          name="categoryid",
          value=category._id
        )

      button.submit-btn(type="submit") Delete

    if permDenied
      p(style="text-align: center; color: red")= "Permssion Denied. Only An Admin Can Modify This Category!"
