extends layout

block content
  .category-info
    .category-info-container
      .category-info-top
        h1= category.name
        hr

      .category-info-bottom
        h4 #{ category.description }
        .category-info-modify
          a(href=category.url + "/delete") Delete This Category
          a(href=category.url + "/update") Update This Category

        h3.category-info-game-list-title List Of Games
        hr(style="width:120px")
        .category-info-game-list
          each game in games 
            a.category-info-game-card(href=`${game.url}`)
              h3= game.name
              p= game.developer
