extends layout

block content
  .game-info
    .game-info-container
      img(
        src=game.img.data !== undefined ? "data:image/jpg;base64," + `${Buffer.from(game.img.data).toString("base64")}` : "",
        width="106.4%",
        style="margin-top: -19px; border-radius: 7px"
      )

      .game-info-top
        h1= game.name
        p#game-dev= game.developer

      .game-info-bottom
        h4(style="text-align:center") #{ game.description }

        .game-info-details
          p Category:
          if game.category.length
            each val, index in game.category
              a.game-info-category-url(href=val.url)= (index < game.category.length - 1) ? val.name + "," : val.name
          else 
            p.game-info-category-url Not Added

          p In-Stock: #{ game.stock }
          p Price: $#{ game.price }

        .game-info-modify
          a(href=game.url + "/delete") Delete This Game
          a(href=game.url + "/update") Update This Game
