extends layout 

block content 

    div(class="game-info")
        div(class="game-info-container")
            div(class="game-top")
                h1= game.name 
                p(id="game-dev")= game.developer

            div(class="game-bottom")
                h4 #{game.description}

                div(class="game-buy-details")
                    each val, index in game.category
                        p Category: #{game.category[0].name}
                        if index < game.category.length - 1
                            |,&nbsp;
                            
                    p In-Stock: #{game.stock}
                    p Price: $#{game.price}

                    
                div(class="game-buy-links")
                    a(href='/games/:id/delete') Delete This Game
                    a(href='/games/:id/update') Update This Game